<!DOCTYPE html>

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Node-Express Timestamp Microservice</title>
  </head>

  <body>
    <div class="container">
      <h1>Timestamp Microservice</h1>
      <hr />
      <main role="main" class="main">
        <p>
          A little Node/Express API that converts UTC date to UNIX timestamp and
          UNIX timestamp to UTC date
        </p>
        <h3>How to use it :</h3>
        <ul>
          <li>
            <p>
              Make a request to /api/ route with a UTC date or a UNIX timestamp
              as the URL <span class="value">[param-to-convert]</span> :
            </p>

            <pre>Example of usage:
https://baseUrl/api/<span class="value">[param-to-convert]</span>
</pre>
          </li>
        </ul>

        <h3>Example Usage :</h3>
        <ul>
          <li>
            <p>With a date string URL param :</p>
            <a href="api/2015-12-25" target="_blank"
              >https://node-express-timestamp-microservice.sebastiennoret.repl.co/api/2015-12-25</a
            >
          </li>
          <li>
            <p>With a timestamp string URL param :</p>
            <a href="api/1451001600000" target="_blank"
              >https://node-express-timestamp-microservice.sebastiennoret.repl.co/api/1451001600000</a
            >
          </li>
        </ul>

        <h3>Example Output :</h3>

        <pre>
<span class="bracket">{</span> 
    <span class="key">"unix"</span> :<span class="value"> 1660003200000</span>,
    <span class="key">"utc"</span> : <span class="value">"Tue, 09 Aug 2022 00:00:00 GMT"</span>
<span class="bracket">}</span>
</pre>

        <h3>Error Output:</h3>
        <pre>
<span class="bracket">{</span> 
    <span class="key" >"error"</span> : <span class="value">"Invalid Date"</span>           
<span class="bracket">}</span>
</pre>
      </main>
    </div>
  </body>
</html>
