/****** Main Styling ******/
:root {
  --white: #fffffa;
  --light-grey: #beb7a4;
  --dark-grey: #fffffc;
  --black: #000000;
  --orange: #ff7f11;
  --red: #ff1b1c;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: var(--black);
  text-align: center;
  line-height: 1.4em;
}
h1,
h3 {
  font-family: "merriweather", sans-serif;
}
.container {
  padding: 1.5rem;
  margin: 0 auto;
  width: 60%;
  border-radius: 5px;
  margin-top: 8vh;
  margin-bottom: 8vh;
  color: var(--black);
  font-size: 1.2rem;
  background-color: var(--dark-grey);
}

.main {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
  margin: 25px;
}
.usage {
  margin-top: 10%;
}
.usage,
.output {
  margin-bottom: 10%;
}
.output p {
  margin-bottom: 5%;
}

code {
  font-family: monospace;
  padding: 1rem;
  color: var(--white);
  background-color: var(--black);
}

ul {
  list-style-type: none;
  /* background-color: var(--light-grey); */
  border-radius: 5px;
}

li {
  /* margin-bottom: 0.5em; */
}

a {
  color: blue;
  font-weight: bold;
  transition: all 200ms ease-in;
}
a:hover,
a:focus {
  color: var(--orange);
}
